<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.engine.emitters">
      <emitter
            class="org.eclipse.birt.report.engine.emitter.csv.CSVReportEmitter"
            format="csv"
            id="org.eclipse.birt.report.engine.emitter.csv"
            mimeType="text/csv">
      </emitter>
      <emitter
            class="org.eclipse.birt.report.engine.emitter.csv.CSVReportEmitter"
            format="view.csv"
            id="org.eclipse.birt.report.engine.emitter.csv2"
            mimeType="text/csv">
      </emitter>
      
   </extension>

</plugin>
